<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title></title>
  </head>
  <body>
    <div class='box' id='heading'>
      <h1 > <%= listTytle %></h1>
    </div>
    <div class="box">

      <%  newitem.forEach(i =>{  %>

        <form action="/delete" method="post">
          <div class='item'>
            <input type='checkbox' name='checkbox'  value="<%=i._id%>" onChange="this.form.submit()">
            <p> <%= i.name %> </p>
          </div>
          <input type="hidden" name="listName" value="<%=listTytle%>">
        </form>

      <%  }) %>

      <form class='item' action="/" method="post">
        <input type="text" name="entered" placeholder="New item" autocomplete="off">
        <button type="submit" name="list" value= <%=listTytle%> >+</button>
      </form>

    </div>


  </body>
</html>
